body {
    color: #fff;
    background: url("../imgs/background.jpeg") no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000;
    font-family: 'Roboto', sans-serif;

}

.logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100px;
}

#splash {
    font-size: 3.5em;
    letter-spacing: 2px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#about, 
#port-gallery,
#gallery-design {
    text-decoration: overline;
}

a {
    color: white;
}

a:hover,
#about:hover, 
#port-gallery:hover,
#gallery-design:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
}


h1 {
    letter-spacing: 2px;
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    letter-spacing: 4px;
}



.monospace {
    font-family: 'Inconsolata', monospace;
}

.my-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px 5px 0px;
}

.my-pic2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px 5px 0px;
}

#about,
#port-gallery,
#contact {
    cursor: pointer;
}

#gallery {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}

.image-wrap{
    filter: grayscale(100%) blur(0.3px);
    z-index: 2;
    padding: 5px;
    margin: 0px;
}

.image-description {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    right: 0;
    padding: 10px;
    background: #000;
    color: #fff;
    visibility: hidden;
    line-height: 1em;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }

  .image-wrap:hover .image-description {
    visibility: visible;
    opacity: 0.9;
  }

  .image-wrap:hover {
      filter: none;
  }

@media (max-width: 3000px) {
    #gallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 1500px) {
    #gallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    #gallery {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    #gallery {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}


.footer {
    text-align: center;
    font-size: 2em;
    bottom: 5%;
}

.footer a {
    color: #fff;
    cursor: pointer;
}

.footer a:hover {
    color: #000;
}

@media only screen and (max-width: 400px) {
    #splash {
        font-size: 1.5em;
    }
    #gallery img {
        filter: none;
    }
}

/* ///////////// */
.morphing-btn-wrap {
    display: inline-block;
    position: relative;
    text-align: center;
  }
  
  .morphing-btn {
    -webkit-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
    -moz-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
    -o-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
    transition: color 0.3s 0.2s, width 0.2s 0s;
    white-space: nowrap;
    box-sizing: border-box;
  }
  
  .morphing-btn_circle {
    color: transparent !important;
    padding-left: 0;
    padding-right: 0;
    width: 35.6px !important;
  
    /* Override inline style rule */
    -webkit-transition: color 0.2s 0s, width .3s 0.2s;
    -moz-transition: color 0.2s 0s, width .3s 0.2s;
    -o-transition: color 0.2s 0s, width .3s 0.2s;
    transition: color 0.2s 0s, width .3s 0.2s;
  }
  
  .morphing-btn-clone {
    position: fixed;
    background: #FF6666;
    border-radius: 50%;
    z-index: 3;
    -webkit-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
    -moz-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
    -o-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
    transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .morphing-btn-clone_visible {
    display: block;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -o-transform: scale(1) !important;
    transform: scale(1) !important;
  }
  
  .fancybox-morphing .fancybox-bg {
    background: #000;
    opacity: 1;
  }
  
  .fancybox-morphing .fancybox-toolbar {
    top: 20px;
    right: 40px;
  }
  
  .fancybox-morphing .fancybox-button--close {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #fff;
  }
  
  .fancybox-morphing .fancybox-button--close::after, 
  .fancybox-morphing .fancybox-button--close::before {
      height: 1.55px;
      width: 22px;
      left: calc(50% - 11px);
  }
  
  .fancybox-morphing .fancybox-button--close:hover {
    background: rgba(0, 0, 0, 0.25);
  }
  
  /* Styling for element used in example */
  
  .morphing-content {
    margin: 0;
    position: relative;
    background: transparent;
    color: #fff;
    padding: 6em 10vw;
    line-height: 2;
    z-index: 3;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .morphing-content a {
    color: #fff;
  }